<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="unlock-container">
            <button id="unlock-button" class="unlock-button"><i id="lock-icon" class="fas fa-lock"></i></button>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <a id="access-camera" href="/camera" class="action-button"><i class="fas fa-camera"></i></a>
                <p>Access Camera</p>
            </div>
            <div class="grid-item">
                <a id="reset-password" href="/reset-keypad" class="action-button"><i class="fas fa-key"></i></a>
                <p>Reset Keypad</p>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('unlock-button').addEventListener('click', async function() {
            var lockIcon = document.getElementById('lock-icon');
            var ESP32_GPIO_IP = 'http://172.20.10.6';

            if (lockIcon.classList.contains('fa-lock')) {
                lockIcon.classList.remove('fa-lock');
                lockIcon.classList.add('fa-lock-open');
                fetch(`${ESP32_GPIO_IP}/lock?state=unlocked`).then(response => response.text());
            } else {
                lockIcon.classList.remove('fa-lock-open');
                lockIcon.classList.add('fa-lock');
                fetch(`${ESP32_GPIO_IP}/lock?state=locked`).then(response => response.text());
            }
        });
    </script>
</body>
</html>
