<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="/css/password-generator.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Password Generator</h1>
    <div id="result" class="result-box"><span id="password"></span></div>
        <div class="countdown-container">
            <div class="countdown-ring">
                <svg>
                    <circle cx="50" cy="50" r="45"></circle>
                </svg>
                <div class="countdown-box">
                    <span id="countdown">30</span>
                </div>
            </div>
        </div>
        <a id="back" href="/">Back</a>
    <script src="/js/password-generator-script.js"></script>
    <script src="/js/circular-countdown-script.js"></script>
</body>
</html>
