<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Keypad Password</title>
        <link rel="stylesheet" href="/css/reset.css">
    </head>
    <body>
        <div class="container">
            <h1>Reset Keypad Password</h1>
            <form id="resetForm">
                <div class="input-group">
                    <label for="currentCode">Current Password:</label>
                    <input type="text" id="currentCode" name="currentCode" pattern="\d{6}" required>
                </div>
                <div class="input-group">
                    <label for="newCode">New Password:</label>
                    <input type="text" id="newCode" name="newCode" pattern="\d{6}" required>
                </div>
                <button type="submit">Submit</button>
            </form>
            <a id="cancel" href="/" class="button">Cancel</a>
            <script src="/js/reset-keypad-script.js"></script>
        </div>
    </body>
</html>
