body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px; /* Adjust the max width as needed */
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; /* Maintain 4:3 aspect ratio */
    border: none;
    box-sizing: border-box;
}

button, a {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
}

button, a:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        width: 85%;
        padding: 10px;
    }
    button, a, .container .button {
        padding: 8px 16px;
        font-size: 14px;
    }
    .camera-output {
        margin-bottom: 15px;
    }
}
