body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.unlock-container {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.unlock-button {
  font-size: 1.5em;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unlock-button:hover {
  background-color: #0056b3;
}

#lock-icon {
  font-size: 2em;
}

.lock-state {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 200px; /* Reduced max-width */
  margin: 20px auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-button {
  background-color: #007bff;
  color: white;
  border: none;
  width: 50px; /* Further reduced width */
  height: 50px; /* Further reduced height */
  border-radius: 10px;
  font-size: 14px; /* Adjusted font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button:hover {
  background-color: #0056b3;
}

.action-button i {
  margin-bottom: 2px; /* Adjusted margin */
}

p {
  margin: 10px 0 0;
}
